.bg-3 { 
      background-color: #ffffff;
      color: #555555;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
      padding-left: 100px;
      padding-right: 100px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }

  .active>a {
    color: #1abc9c !important;;
  }

  .input-form{
      padding-left: 200px;
      padding-right: 200px;
  }

  .download-file{
      margin: 15px;
  }

  h5{
      margin: 0;
  }